body {
    font-family: 'Ubuntu', sans-serif;
}

header {
    background-image: url(../img/codioful-formerly-gradienta-QWutu2BRpOs-unsplash.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
}

#experiencia li {
    background-color: #f6f7f9;
    color: #184965;
}

.exp-impar-i {
    border: solid;
    border-color: #fbc12f;
    border-width: 2px;
    border-radius: 20px 4px 4px 4px;

}

.exp-impar-d {
    border: solid;
    border-color: #fbc12f;
    border-width: 2px;
    border-radius: 4px 4px 20px 4px;

}

.exp-par-i {
    border: solid;
    border-color: #f8892f;
    border-width: 2px;
    border-radius: 20px 4px 4px 4px;

}

.exp-par-d {
    border: solid;
    border-color: #f8892f;
    border-width: 2px;
    border-radius: 4px 4px 20px 4px;

}

#educacion {
    background: #184965;
}

#educacion .card {
    border-radius: 6px;
}
